name: Deploy static site to EC2

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy files via SSH
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/home/${{ secrets.EC2_USER }}/temp"
          strip_components: 0 # Ensures full folder structure is preserved

      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Create target directory if it doesn't exist
            sudo mkdir -p /usr/site/
            # Move files from temp to real folder
            sudo cp -r /home/${{ secrets.EC2_USER }}/temp/* /usr/site/
            # Clean up temp
            rm -rf /home/${{ secrets.EC2_USER }}/temp
            # Reload Nginx
            sudo nginx -t && sudo systemctl reload nginx
